[submodule "3-fullstack-e2e-web-shop-o11y/web-shop-o11y-demo"]
	path = 3-fullstack-e2e-web-shop-o11y/web-shop-o11y-demo
	url = git@github.com:Condla/web-shop-o11y-demo.git
[submodule "4-monitor-your-sql-db/test_db"]
	path = 4-monitor-your-sql-db/test_db
	url = git@github.com:datacharmer/test_db.git
